<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Silver Shield | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="centerText marginBottom">
				<h1>PAGE UNDER CONSTRUCTION,</h1>
				<img class="fluidImg" src="_images/sunshineheroesemga3.jpg" alt="Sunshine Heros Emega 3">
				<img class="fluidImg" src="_images/sunshineheroesprobiotic.jpg" alt="Sunshine Heros Probiotic">
				<img class="fluidImg" src="_images/sunshineheroesvitamin.jpg" alt="Sunshine Heros Vitamin">
				<img class="fluidImg" src="_images/elderberryimmflyer-1.jpg" alt="Sunshine Heros Elderberry Immune">
				<img class="fluidImg" src="_images/blackwalnut.jpg" alt="Black Walnut Extract">
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>
