<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Silver Shield | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="marginBottom childHealtTemplate">
				<h1 class="centerText">Defend your family better this season</h1>
				<p>
					Children are surrounded by unwanted hitch-hikers…at school, 
					at daycare, at a friends house…there’s almost no escape.
				</p>
				<p>
					But you can help strengthen their little bodies against wintertime 
					health challenges with Sunshine Heroes Elderberry Immune and many 
					more great products I will mention here to keep in your arsenal.
				</p>
				<p>
					Natural ingredients like elderberry, Echinacea, vitamin D3 and vitamin C 
					in the Elderberry Immune help promote maximum immune system function 
					in growing bodies and support them all winter long. And kids love the real-fruit flavor!
				</p>
				<h2 class="centerText marginTop marginBottom">Benefits of Elderberry Immune&#58;</h2>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/elderberryimmune_300x300.jpg" alt="Sunshine Heros Elderberry Immune">
				</div>
				<div class="columnTwo">
					<ul>
						<li>Supports the immune system</li>
						<li>Supplies key immune-enhancing herbs and vitamins</li>
						<li>Has a delicious fruit flavor kids love</li>
					</ul>
				</div>
				<div class="clear separator"></div>
				<h2 class="centerText marginTop marginBottom">
					Here are some absolute musts to have <br>
					in your arsenal for the battle of the bugs&#58;
				</h2>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/blackwalnut_300x300.jpg" alt="Black Walnut Extract">
				</div>
				<div class="columnTwo">
					<span class="bold">Black walnut&#58;</span> battles those playground bugs by building the immune against 
					invaders, intestinal system, soothes irritated tissues and enhances the look of the skin.
				</div>
				<div class="clear separator"></div>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/silver_300x300.jpg" alt="Silver Shield">
				</div>
				<div class="columnTwo">
					<span class="bold">Silver Shield&#58;</span> immune, virus, bacteria
				</div>
				<div class="clear separator"></div>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/silvershiledrescuegel_300x300.jpg" alt="Silver Shield Rescue Gel">
				</div>
				<div class="columnTwo">
					<span class="bold">Silver Shield gel&#58;</span> great to have handy to rub on scrapes, 
					cuts, etc. , quicker healing time and when rubbed on hands protects against germs for up to 4 hours.
				</div>
				<div class="clear separator"></div>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/sunshineheroesprobiotic_300x300.jpg" alt="Sunshine Heros Probiotic">
				</div>
				<div class="columnTwo">
					<span class="bold">Probiotic&#58;</span> Probiotic Power offers friendly flora for the 
					intestinal and immune systems and aids in digestion. Comes in a chewable tablet for kids.
				</div>
				<div class="clear separator"></div>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/sunshineheroesvitamin_300x300.jpg" alt="Sunshine Heros Vitamin">
				</div>
				<div class="columnTwo">
					<span class="bold">Sunshine Heroes Multiple Vitamin and Minerals&#58;</span> 
					Especially formulated for children and come in fruity soft chews.
				</div>
				<div class="clear separator"></div>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/sunshineheroesemga3_300x300.jpg" alt="Sunshine Heros Emega 3">
				</div>
				<div class="columnTwo">
					<span class="bold">Sunshine Heroes Omega-3&#58;</span> 
					 Omega-3 fatty acids that are essential to development and come in soft chews.
				</div>
				<div class="clear separator"></div>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/chlorophylles_300x300.jpg" alt="Chlorophyll ES">
				</div>
				<div class="columnTwo">
					<span class="bold">Chlorophyll ES&#58;</span> Brings oxygen to the blood and 
					promotes natural blood-cleansing functions of the body, promotes circulatory, intestinal, 
					digestive and immune health, protects and strengthens healthy cells encourages balanced 
					pH levels in the body, deodorizes the body, including the bowl. Is paraben free.
				</div>
				<div class="clear separator"></div>
				<div class="columnTwo">
					<img class="fluidImg" src="_images/focus-attention_300x300.jpg" alt="Focus Attention">
				</div>
				<div class="columnTwo">
					<span class="bold">Focus Attention&#58;</span>
					<ul>
						<li>Provides important nutrients for normal brain-stimulation levels.</li>
						<li>Helps modulate brain activity and energy levels.</li>
						<li>Supports the nervous system nutritionally.</li>
						<li>Encourages restful, balanced mental activity.</li>
						<li>Supports blood circulation and neurotransmitters in the brain.</li>
					</ul>
					<p>
						Focus attention is good for A.D.D., A.D.H.D and general daydreaming or 
						hard to focus on tasks at hand  and the need to focus for long lengths at a time.	
					</p>

					
				</div>
				<div class="clear separator"></div>
				<p class="italic">
					…And many more that I will be talking about over time on the site. Please contact me with 
					questions on something you may want information on that is not listed here or a program that fits your child.
				</p>
				<p>Pick up these priceless jewels by clicking this <a class="underline" href="http://herbsforthought.mynsp.com/" target="_blank">shop now link</a>.</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>
