<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Clean Your Internal House | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<link rel="stylesheet" type="text/css" href="../herbs.css"></link>
	<link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="wrapper">
		<header id="top">
			<h1>HERBS for THOUGHT</h1>
			<div class="natureslogo">NS Logo<img class="fluidImg" src="" alt=""></div> <!-- TODO : add nature's sunshine logo here -->
		</header>
			<nav id="mainnav">
				<ul class="noPadOrMargin">
					<li class="menuopen">&#40;&#43;&#41;</li>
					<li class="menuclose">&#40;&#45;&#41;</li>
					<li><a href="../index.html">Home</a></li>
					<li>Herbs and Vitamins</li>
					<li><a href="clean-your-internal-house.html">Cleansing</a></li>
					<li><a href="content/footspadetox.docx">Foot Spa Detox</a></li>
					<li>Tongue and Fingernail Analysis</li>
					<li>PH 9.5 Water</li>
				</ul>
			</nav>
		</header>
		<div class="bodyWrapper">
			<div class="centerText marginBottom">
				<h1>CLEAN YOUR INTERNAL HOUSE,</h1>
				<h2 class="marginBottom">IT IS IMPORTANT TO YOUR WELL BEING.</h2>
				<h2  class="marginBottom">
					HYGEINE ISNT ONLY ON THE OUTSIDE;<br>
					IT IS TAKING CARE OF THE INSIDE TO.
				</h2>
			</div>
			<div class="textColumnThree marginBottom">
				<h3>There are a selection of cleanses we offer, however, let us talk briefly about cleansing, its purpose and what it can do for you:</h3>
				<p class="noPadOrMargin">
					Most of us think about hygiene as taking a shower, brushing our teeth, combing our hair, 
					even vacuuming the rug, doing the dishes, washing our car; however, do we ever think 
					about keeping things running efficient on the inside? Just like a well lubed car, if you 
					don’t drain the dirty oil and put in fresh clean oil the cars engine cannot run efficiently 
					and will lock up; our bodies will do the same over time. Our body is like a furnace that 
					needs good fuel to burn. If garbage is put in for a period of time, it no longer runs at 
					optimum levels and instead is bogged down and sick and tired. As we put in our bodies 
					fats, carcinogens, anti-biotics, preservatives, additives, substances that turn into toxic 
					waste, the body has to store it somewhere and that is in fat pockets that can eventually 
					become cysts, boils, and tumors. Detoxing the body through a cleanse can purge toxic 
					waste from your liver, colon and down to the cellular level freeing up the body from the 
					waste it was swimming in to now gain energy, loose weight, eliminate bowels properly 
					and feel GREAT.
				</p>
			</div>
			<div class="marginTop marginRight marginLeft">
				<h2 class="marginBottom">CLEANSE OPTIONS:</h2>
				<div class="cleanseOptions">
					<h3>Tiao He Cleanse</h3>
					<img src="../_images/tiao.jpg" alt="Tiao He Cleanse">
					<p>
						A 10-day nutritional program designed to help the body achieve <span>balance and harmony</span>.
						It combines Chinese nutritional and Western herbal experience. The Tiao He Cleanse 
						is designed to support the cleansing mechanisms of the body by targeting the intestinal, 
						digestive and circulatory systems. So, you say, just what results can I expect from the 
						Tiao He Cleanse? The cleanse often yields results of glowing skin, weight loss, flattened 
						tummy, regularity in bowl movements, energy, restful sleep, mood elevation, symptomatic 
						relief, many symptoms simply disappear after doing the Tiao He Cleanse and one feels fabulous.
					</p>
					<h4>BENEFITS:</h4>
					<ul>
						<li>Supports the intestinal system.</li>
						<li>Supports intestinal regularity.</li>
						<li>May improve energy and well-being.</li>
					</ul>
				</div>
				<div class="cleanseOptions">
					<h3>Clean Start</h3>
					<img src="../_images/clean.jpg" alt="Clean Start Cleanse">
					<p>
						CleanStart is a two-week program that supports natural waste elimination 
						to provide a sense of improved energy and well-being. It contains powerful 
						nutrients that help cleanse and detoxify the body.
					<h4>BENEFITS:</h4>
					<ul>
						<li>Supports the natural, everyday cleansing of toxic waste from the body.</li>
						<li>Works without posing dangerous side effects.</li>
						<li>Improves energy and promotes a feeling of well-being.</li>
					</ul>
					</p>
				</div>
				<div class="cleanseOptions">
					<h3>Para Cleanse</h3>
					<img src="../_images/para.jpg" alt="Clean Start Cleanse">
					<p>
						The herbs in Para-Cleanse work synergistically to create an environment 
						that supports the health and viability of “healthy” microorganisms, also 
						known as intestinal flora. These include NSP’s <span>Black Walnut ATC Concentrate, 
						Paw Paw Cell-Reg</span>, which helps the body’s natural cleansing process, 
						<span>Herbal Pumpkin Formula and Artemisia Combination</span>. These formulas help 
						make the intestines inhospitable to foreign invaders, help remove debris and 
						lubricate the colon to optimize intestinal function.
					</p>
					<h4>BENEFITS:</h4>
					<ul>
						<li>Is safe, natural, gentle and effective.</li>
						<li>Cleanses and detoxifies.</li>
						<li>Comes in convenient individual serving packets.</li>
					</ul>
				</div>
				<div class="cleanseOptions">
					<h3>Dieters Cleanse</h3>
					<img src="../_images/dieters.jpg" alt="Clean Start Cleanse">
					<p>
						Proper cleansing of the digestive tract allows for better elimination of waste 
						and improved absorption of nutrients from the food you eat. Dieter’s Cleanse 
						is a safe, simple, convenient cleansing program. Product elements provide 
						dietary fiber, support the production of digestive enzymes and bile, nourish 
						the liver and glandular system, promote detoxification and support the body’s 
						weight-management mechanisms. Kick off your weight-loss program by using 
						Dieter’s Cleanse for one week.
					</p>
					<h4>BENEFITS:</h4>
					<ul>
						<li>Promotes natural, healthy elimination.</li>
						<li>Supports normal glandular function.</li>
						<li>Supports the liver and digestive system.</li>
						<li>May help maximize the nutritional benefit from the food you eat.</li>
					</ul>
				</div>
				<div class="cleanseOptions">
					<h3>Personalized Cleanse</h3>
					<p>
						Herbs for Thought works one on one to personalize a cleanse that is geared to work on specific needs for an individual.
					</p>
				</div>
				<p>Check out Herbs for Thought <span class="italic">Philosophy on Practices</span> to get the most out of what we offer</p>
				<p>
					I am available to consult about one’s personal needs in terms of which cleanse to 
					choose and other benefits one can do to achieve their goals.<br>
					Call for an appointment, stop in, message me or email @ <a href="mailto:shelley@herbsforthought.com">Shelley@HerbsforThought.com</a> 
					about your personal needs to get started now.
				</p>
			</div>
		</div>
	</div>
	<footer>
		<div class="logo">HERBS for THOUGHT</div>
		<div class="footlinkwrapper">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Herbs and Vitamins</a></li>
				<li><a href="">Cleansing</a></li>
				<li><a href="">Foot Spa Detox</a></li>
				<li><a href="">Tongue and Fingernail Analysis</a></li>
			</ul>
			<ul>
				<li><a href="">Save up to 40&#37;</a></li>
				<li><a href="">Why Herbs&#63;</a></li>
				<li><a href="">What&#39;s New&#33;</a></li>
				<li><a href="">Consultation</a></li>
			</ul>
			<ul>
				<li><a href="">PH 9.5 Water</a></li>
			</ul>
			<ul>
				<li><a href="">Other</a></li>
				<li><a href="">Links</a></li>
				<li><a href="">Or</a></li>
				<li><a href="">Hide</a></li>
				<li><a href="">:)</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>