<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Consultation | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="centerText marginBottom">
				<h1>PAGE UNDER CONSTRUCTION,</h1>
				<p class="contactBlock">
					To make an appointment,<br>
					call <a href="tel:+1-555-555-5555">555&#45;555&#45;5555</a>,<br>
					or E&#45;mail 
					<a href="mailto:info@herbsforthought.com" target="_blank">info@herbsforthought.com</a>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>