<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Consultation | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="marginBottom consultationTemplate">
				<h1 class="centerText">Herbs for Thought is here to consult with you to meet your health needs</h1>
				<p>
					Whether it is ordering a particular product you are already using, the need to improve health 
					or education on what the uses of herbs and vitamins are and how to incorporate them in your 
					health regimen, we are here to help make a specific plan that is tailored to your needs.
				</p>
				<h3 class="centerText"><a href="templates/pre-screening-health-assesment.html">Philosophies and Practices</a></h3>
				<p>Some of the ways we do this are:</p>
				<ul>
					<li>Diet assessment</li>
					<li>Exercise</li>
					<li>Checking critical body markers that tell current health status</li>
					<li>Discussing the next step in terms of cleansing the body</li>
					<li>If the need is found, choosing what herb, vitamin, etc. to feed the body</li>
				</ul>
				<p>
					Click on <a class="underline" href="templates/pre-screening-health-assesment.html">Pre screening health assessment</a> 
					for more information on a very special practice to help assess the status of current health.
				</p>
				<p>
					Please contact Herbs for Thought to make an appointment and get started. Here’s to your health!
				</p>
				<p class="contactBlock">
					To make an appointment,<br>
					call <a href="tel:+19095292553">&#40;909&#41; 529&#45;2553</a>,<br>
					or E&#45;mail 
					<a href="mailto:shelley@herbsforthought.com" target="_blank">Shelley@HerbsforThought.com</a>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>