<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Did You Know? | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="centerText marginBottom essentialOilTemplate">
				<h1><a href="http://herbsforthought.mynsp.com/" target="_blank">ESSENTIAL OILS</a></h1>
				<h3>A truly Authentic Essential oil is one of the plant kingdoms greatest gifts.</h3>
				<p>
					For centuries they have been prized as remarkable flavors, fragrances and potent remedies. 
					Wellness seekers through the ages have discovered that when these precious aromatic 
					liquids are delivered in their original, unaltered state, they profoundly and safely cleanse, 
					protect, rejuvenate and elevate the body and mind.
				</p>
				<h3>Why authenticity is important?</h3>
				<ul class="leftText">
					<li>Essential oils applied topically are absorbed through the skin into the blood stream almost instantly.</li>
					<li>Inhaling an oils aroma immediately passes vapors into your body and mind.</li>
				</ul>
				<p class="leftText">
					Natures Sunshine guarantees their oils are 100% authentic. Just like the integrity of all their products, 
					it is of the highest quality and standards.
				</p>
				<h3>
					Check out the new line of Summer Essential Oils and their awesome uses and recipes. 
					Keep them in your “go to” arsenal for healing, soothing fragrance/enjoyment, and first aid kit.
				</h3>
				<a href="http://herbsforthought.mynsp.com/" target="_blank">
					<img class="centerImage" alt="Essential Summer Oils" src="_images/essentialsummeroil_105x54.jpg"></img>
				</a>
				<table class="leftText">
					<th class="centerText" colspan="2"><h4>Here is a description of some essential oils and blends along with some great recipes to use them in.</h4></th>
					<tr>
						<td>Lemon</td>
						<td>Detoxifying, purifying, toning, breaks up fats.</td>
					</tr>
					<tr>
						<td>Lavender</td>
						<td>Anti-inflammatory, restorative sleep after soaking in bath.</td>
					</tr>
					<tr>
						<td>Inspire</td>
						<td>
							Uplifting citrus, removes the dark cloud over you, Motivates and 
							keeps you focused, inspired, carry in your purse, gives that 
							“get up –n- go” when needed
						</td>
					</tr>
					<tr>
						<td>Peppermint</td>
						<td>Fresh breath, aids digestion, stress relief, focus and more</td>
					</tr>
					<tr>
						<td>Tea Tree</td>
						<td>Invigorates, restores, cleanses</td>
					</tr>
					<tr>
						<td>Enzyme Fresh</td>
						<td>Enzyme Fresh	Breaks down stains, odors, many uses, plant derived</td>
					</tr>
				</table>
				<div class="marginTop leftText bold">
					<p>Recipes</p>
					<p class="underline">Headache from the sun</p>
					<p>
						23 drops Breathe Deep, 18 drops lemon, 5 drops peppermint and 
						add Enzyme Fresh to a 2 ounce glass bottle. Rub on forehead, back of neck.
					</p>
					<p class="underline">Sun Burn</p>
					<p>
						4 drops Breathe Deep, 8 drops lavender, ½ tbls Aloe Gel, 1tbls golden salve stir 
						in glass bowl with stir stick, apply till sun burn stops itching.
					</p>
					<p class="underline">Stings</p>
					<p>
						1 tbls hydrated bentonite, 2 drops lavender, 1-drop tea tree and 1-drop peppermint. 
						Mix well, apply, rinse with cold water and re-apply until pain and redness are gone. 
						Try with stings, mosquito bites as this blend draws out the poison. 
					</p>
					<p class="underline">Sore muscles</p>
					<p>Tei fu oil massaged directly into the sore area.</p>
					<p>
						Check my web site 
						<span class="underline">WWW.HerbsforThought.com</span>
						for more essential oil recipes and online learning videos coming soon on:
					</p>
					<ul>
						<li>Allergies</li>
						<li>Over coming cravings when over whelmed or emotional to help from grabbing the bag of chips</li>
						<li>Cleaning cuts</li>
						<li>Stop bleeding</li>
						<li>Relieving inflammation and pain around joints, muscles</li>
						<li>Breaking up mucous and sinus and more</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>