<footer>
	<div class="logo">HERBS for THOUGHT</div>
	<div class="footlinkwrapper">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="templates/herbs-and-vitamins.html">Herbs and Vitamins</a></li>
			<li><a href="templates/clean-your-internal-house.html">Cleansing</a></li>
			<li><a href="templates/foot-spa-detox.html">Foot Spa Detox</a></li>
		</ul>
		<ul>
			<li><a href="templates/tongue-and-fingernail-analysis.html">Tongue and Fingernail Analysis</a></li>
			<li><a href="templates/fat-grabbers.html">Fat Grabbers</a></li>
			<li><a href="templates/why-herbs.html">Why Herbs&#63;</a></li>
		</ul>
		<ul>
			<li><a href="templates/silver-shield.html">Silver Shield</a></li>
			<li><a href="templates/membership.html">Save up to 33&#37;</a></li>
			<li><a href="templates/herbal-hour.html">Herbal Hour</a></li>
			<li><a href="templates/essential-oils.html">Did You Know&#63;</a></li>
		</ul>
		<ul>
			<li><a href="templates/child-health.html">Childrens&#39;s Health</a></li>
			<li><a href="templates/sickness-and-prevention.html">Sickness &#38; Prevention</a></li>
			<li><a href="templates/consultation.html">Consultation</a></li>
			<li><a href="templates/ph-nine-five-water.html">PH 9.5 Water</a></li>
		</ul>
	</div>
</footer>