<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Foot Spa Detox | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="footSpaDetox bodyWrapper">
			<div class="marginBottom">
				<h1>The Body Balance Foot Spa Detox</h1>
				<p>
					The Body Balance Foot Spa Detox is a two&#45;fold benefit&#59; a relaxing foot spa 
					followed by a soothing foot rub while energizing your body.
				</p>
				<p>
					The ion module in the spa helps the body to absorb energy to aid the body 
					in performing its normal functions optimally. During this process one may 
					experience that the spa may stimulate and&#47;or promote circulation throughout 
					the body causing the body to purge toxins and heavy metals. A color chart is 
					given to each person as they relax in the spa so they can see which organs 
					are choosing to detox&#59; such as, the liver, gall bladder, kidneys and more.
				</p>
			</div>
				<h3>Here&#39;s what others have experienced&#58;</h3>
			<div class="columnTwo">
				<ul>
					<li>IMPROVED ENERGY LEVELS</li>
					<li>IMPROVED CIRCULATION</li>
					<li>RELIEVE JOINT&#47;ARTHRITIS </li>
					<li>RESTFUL SLEEP</li>
					<li>QUICKER HEALING TIME FROM INJURY</li>
					<li>GOUT RELIEF</li>
				</ul>
			</div>
			<div class="columnTwo">
				<ul>
					<li>IMPROVED IMMUNITY</li>
					<li>QUICKER BACK SURGERY HEALING&#47;RELIEF</li>
					<li>BOWEL REGULARITY</li>
					<li>IMPROVED KIDNEY&#47;LIVER FUNCTION</li>
					<li>REDUCED FLUID</li>
					<li>HEADACHE RELIEF</li>
				</ul>
			</div>
			<div class="bigger">
				<p>
					THE FOOT SPA DETOX TAKES 40-MINUTES ONCE IN THE WATER FOLLOWED 
					BY A SOOTHING FOOT RUB. PLAN TO SPEND 50&#45;60 MINUTES IN A SESSION. COST IS &#36;40.00.
				</p>
				<p>
					CONSULTATIONS ARE AVAILABLE PRIOR TO FOOT SPA SESSION TO 
					DISCUSS SPACIFIC HEALTH CARE ISSUES/NEEDS.
				</p>
				<p>
					TONGUE AND FINGERNAIL ANALYSIS IS OFFERED AT A REDUCED 
					PRICE WHEN DOING A FOOT SPA. <br>
					<a href="tongue-and-fingernail-analysis.html">CLICK HERE FOR MORE INFORMATION ON TONGUE AND FINGERNAIL ANALYSIS</a>. 
				</p>
			</div>
			<p>
				Toxins&#47;heavy metals are acquired everyday from the environment, the food we eat, and more. The Body Balance 
				Foot Spa Detox works based on a bio Electric Field that uses a positive and negative current charging the water, 
				thus energizing the water, and in turn energizing the body to purge toxins on its own that cause all kinds of disease, 
				discomfort and ailments. This is done by placing the feet in the Foot Spa and relaxing. 
			</p>
			<p>
				A toxin is poison. Scientists estimate that over 50&#37; of the U.S. population consumes too many heavy metals 
				and also herbicides, pesticides, etc. <span class="italic">Detoxing</span> allows the body’s eliminative channels to get rid of toxins in the 
				cells, organs, tissues, blood stream and lymphatic system. 
			</p>
			<p>
				Let Herbs for Thought help you energize your body and energize your life&#59;whether you are in need of relief, 
				or just want to prevent the disease you may never know you had, <span class="italic">detoxification</span> is an essential step on your 
				road to health&#33; Therefore, come soak your feet in the Body Balance Foot Spa and enjoy a relaxing, yet beneficial, 
				40 minutes.
			</p>
			<a class="italic" href="templates/clean-your-internal-house.html">Click here to learn more about detoxing through cleansing to gain energy and feel renewed.</a>
			<p class="contactBlock">
				To make an appointment,<br>
				call <a href="tel:+1-555-555-5555">555&#45;555&#45;5555</a>,<br>
				or E&#45;mail 
				<a href="mailto:info@herbsforthought.com" target="_blank">info@herbsforthought.com</a>
			</p>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>