<header id="top">
	<a href="index.html">
		<h1>HERBS for THOUGHT</h1>
	</a>
	<div class="natureslogo">
		<a href="http://herbsforthought.mynsp.com/" target="_blank">
			<img class="fluidImg" src="_images/nsplogobw_65x78.jpg" alt="Natures Sunshine Independent Distributor">
		</a>
	</div>
	<nav id="mainnav">
		<ul class="noPadOrMargin">
			<li class="menuopen">&#40;&#43;&#41;</li>
			<li class="menuclose">&#40;&#45;&#41;</li>
			<li><a href="index.html">Home</a></li>
			<li><a href="templates/herbs-and-vitamins.html">Herbs and Vitamins</a></li>
			<li><a href="templates/clean-your-internal-house.html">Cleansing</a></li>
			<li><a href="templates/foot-spa-detox.html">Foot Spa Detox</a></li>
			<li><a href="templates/pre-screening-health-assesment.html">Health Assesment</a></li>
			<li><a href="templates/ph-nine-five-water.html">PH 9.5 Water</a></li>
		</ul>
	</nav>
</header>