<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Herbal Hour | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<h1>Welcome to The Herbal Hour</h1>
			<p>Here is where I will be hosting the informative classes called The Herbal Hour.</p>
			<p>
				These videos are to empower you with crucial information to assist you in regaining, 
				improving and maintaining good health. Knowledge is power and here you will be 
				empowered to have good health and feel great. On that note, here’s to your health&#33;
			</p>
			<h2>SEE YOU SOON</h2>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>