<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Kangen Water | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="centerText marginBottom">
				<h1>KANGEN WATER</h1>
				

				<p>
					Water is essential to life. It is one of the first protocols in health and healing, 
					drink enough water a day; what is more important, is to drink clean, PH balanced water.
				</p>
				<p>The slogan is, <span class="bold">CHANGE YOUR WATER, CHANGE YOUR LIFE</span></p>
				<div class="leftText">
					<p>
						Make no bones about it, this is a true to life statement. We have all heard at one time 
						or another about using filtered water, reverse osmosis, carbon filtered, and about bleach, 
						lye, antibiotics, drugs, plastic from bottled water leaching chemicals into the water and 
						more. What does it all really mean? Please contact me :
					</p>
					<p>
						<a class="underline" href="mailto:shelley@herbsforthough.com" target="_blank">Shelley@HerbsforThought.com</a>
						or
						<a href="tel:+19095292553">&#40;909&#41; 529&#45;2553</a>
					</p>
					<p>I’ll show you the benefits of PH.9.5 water and then some.</p>
					<p>Here’s to your health!</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>
