<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Membership | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper membership">
			<h1>About Membership&#58;</h1>
			<h2>
				Purchase &#36;40 of product &#40;Member Cost&#41; and Receive a Free, 
				One-Year Membership&#33; Save big this way by purchasing wholesale&#33;
			</h2>
			<h3>Membership Benefits&#58;</h3>
			<ul>
				<li>Purchase products at Member &#40;wholesale&#41; cost and save up to 33&#37; off Retail cost.</li>
				<li>
					Receive rebates of up to 20&#37; on your own purchases.
					<ul>
						<li>10&#37; on orders between 100&#45;499 QV &#40;Qualifying Volume&#41;</li>
						<li>15&#37; on orders between 500&#45;999 QV </li>
						<li>&#36;130 order &#61; 130 QV &#40;approx.&#41;</li>
					</ul>
				</li>
				<li>Choose from over 500 <span>quality products</span> and more than 475 unique herbal formulas.</li>
				<li>You can purchase as little or as much as you like each month.</li>
				<li>Free health education.</li>
			</ul>
			<h3>Steps to Becoming a Member</h3>
			<ol>
				<li>1	Click on this link&#58; <a href="http://herbsforthought.mynsp.com/" target="_blank">wehavesomthingforeveryone</a> and then click SHOP at the top of the page.</li>
				<li>2	Add &#36;40 or more of products to your Cart. &#40;Member cost&#40;</li>
				<li>3	Continue to Checkout</li>
				<li>4	Click the &#34;Sign up&#34; button in the &#34;Become a Member&#34; box.</li>
				<li>5	Complete the Checkout process.</li>
			</ol>
			<div class="bold">Become a member today and save up to 33% on today's order!</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>