<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tongue & Fingernail Analysis | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="marginBottom preScreenTemplate">
				<h1 class="centerText marginBottom">Pre screening Health Analysis</h1>
				<h3 class="centerText marginBottom">
					A major part of our philosophy is prevention. Preventing an illness or disease 
					is always better than waiting until one is already diagnosed and now has to find a cure.
				</h3>
				<p>
					There are many ways to be pro-active in prevention; proper nutrition, exercise, 
					healthy emotional well being, regular check-ups. Etc.; however, there are approaches 
					to prevention that can give a person an idea of where the body’s current state of health 
					is right now and where it could be heading, thus a pre-screening if you will.
				</p>
				<p>
					Just like the pressure points to the feet and other parts of the body, there are ways to 
					check the condition of the vitality in terms of oxygen, blockage, healthy cells and more 
					by various protocols such as iridology, blood testing, looking at the tongue and nails and more.
				</p>
				<p>
					This could be vital information to help you prevent and be pro-active. Please call or email 
					<a class="underline" href="mailto:shelley@herbsforthought.com" target="_blank">Shelley@HerbsforThought.com</a> 
					and set up an appointment for further information.
				</p>
				<p>
					Here’s to your health!
				</p>
				<p class="contactBlock">
					To make an appointment,<br>
					call <a href="tel:+19095292553">&#40;909&#41; 529&#45;2553</a>,<br>
					or E&#45;mail 
					<a href="mailto:shelley@herbsforthought.com" target="_blank">Shelley@HerbsforThought.com</a>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>