<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sickness & Prevention | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="centerText marginBottom">
				<h1>Prevention is a Beautiful thing</h1>
				<h2>In the world of ailments, it is always best to prevent as opposed to reaching the point of attempting to cure.</h2>
				<p>
					This is one of my most favorable categories of herbal nutrition and healing. 
					Our body’s innate ability to heal itself when fed proper nutrients is indeed 
					amazing. One of the ways Herbs for Thought helps facilitate the prevention 
					process is through the <a class="underline" href="templates/pre-screening-health-analysis.html">pre screening health analysis</a>
					which looks at the parts of the body the meridian lines are connecting 
					organs such as the tongue and fingernails and more.
				</p>
				<h2>Here are a few protocols to follow when sick and protocols to prevent.</h2>
				<p>
					Check out the 
					<a class="underline" href="templates/clean-your-internal-house.html">Cleansing</a>, 
					<a class="underline" href="templates/foot-spa-detox.html">Foot Spa Detox</a>, 
					<a class="underline" href="templates/child-health.html">Childrens Health,</a> 
					and 
					<a class="underline" href="templates/pre-screening-health-analysis.html">Pre Screening Health Analysis</a> 
					links to aid in prevention as well.
				</p>
				<div class="leftText">
					<p>
						<span class="bold">When a cold, virus, flu, body aches, nausea, especially good for when fever is coming on</span> 
						I boil fresh ginger root then reduce to a simmer until light brownish. You may add fresh garlic cloves, 
						lemon and oregano as well for benefits. Drink the tea down as fast as possible while hot. It can reduce 
						fever within the hour, purge poison, toxin, sooth stomach, nausea, motion sickness and more and help 
						get rid of sickness faster.
					</p>
					<p>
						<span class="bold">Tea to wipe out colds</span> combine 
						<a class="underline" href="http://herbsforthought.mynsp.com/" target="_blank">White Willow Bark</a>, 
						<a class="underline" href="http://herbsforthought.mynsp.com/" target="_blank">Golden seal</a>, 
						<a class="underline" href="http://herbsforthought.mynsp.com/" target="_blank">Lobelia</a> and 
						<a class="underline" href="http://herbsforthought.mynsp.com/" target="_blank">HCP-X</a>, 
						boil water, open capsules and pour in the cup of hot water and sip frequently. Runny nose and symptoms can subside.
					</p>
					<p>
						<span class="bold">Once sick</span> or when it’s coming on begin taking Silver Shield. 
						<a class="underline" href="templates/silver-shield.html">Silver Shield</a> 
						does not wipe out your friendly flora as probiotics can and is tasteless and is an amazing 
						healing aid, see the link for more on amazing Silver or select Silver from the home page.
					</p>
					<p>
						<span class="bold">Daily prevention</span> take <a class="underline" href="http://herbsforthought.mynsp.com/" target="_blank">Chlorophyll</a>. 
						It has many wonderful benefits such as increasing energy by bringing oxygen to the blood, cleansing 
						intestinal tract thus keeping illness moving out of the body, increasing immune, reducing body oder 
						including body, breath and stools.
					</p>
					<p>
						<span class="bold">Cleansing,</span> of course we cannot talk about prevention without mentioning cleansing. 
						<a class="underline" href="http://herbsforthought.mynsp.com/" target="_blank">Cleansing</a>
						should be looked at as a first line of defense in prevention and healing. It is a wonderful resource 
						especially when coupled with others such as above. 
					</p>
					<p>
						<span class="bold italic">There are many more very important ways I can help with prevention. 
						Please call to make an appointment to consult with me at
						<a href="tel:+19095292553">&#40;909&#41; 529&#45;2553</a>,
						or email me at 
						<a class="underline" href="mailto:shelley@herbsforthought.com" target="_blank">Shelley@HerbsforThought.com</a>
					</p>
					<p>
						Check back here periodically as this page will update with more recipes and information. 
					</p>
					<p>
						Here’s to your health! <br>
						Sincerely, Shelley
					</p>
				</div>




			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>