<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Silver Shield | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper silverShieldTemplate">
			<div class="marginBottom">
				<img class="silverCoins" src="_images/silvercoins_188x122.jpg" alt="Silver Coins">
				<h1>
					Top 7 reasons to Use the new 
					<span class="fontForum"><a href="http://herbsforthought.mynsp.com/" target="_blank">Silver Solution</a></span>
				</h1>
				<div class="sevenReasons">
					<ol>
						<li>
							<span class="bold">Patented New Technology.</span><br>
							New technology has made Silver Shield extremely more effective than 
							the old colloidal or ionic silvers. The new silver requires very small 
							amounts, it’s non-toxic, and is extremely safe.
						</li>
						<li>
							<span class="bold">Scientifically Supported.</span><br>
							Numerous lab reports and research studies have documents the benefits 
							of using silver. In fact, scientists have found that the new silver solution 
							can destroy 99.9% of all bacteria, viruses, mold, fungus and other pathogens 
							it begins to destroy pathogens within the first 15 seconds.
						</li>
						<li>
							<span class="bold">Super-Flexible.</span><br>
							Silver Shield can be used inside the body (internal). Silver Shiled can also 
							be used as an effective household disinfectant, much like bleach or other 
							cleaners – only it’s much safer!
						</li>
						<li>
							<span class="bold">Quick Kill Time.</span><br>
							Silver Shield can be effective in just a few minutes. Research shows that 
							exposing silver to most pathogens (including fungus and mold) for only 3-6 
							minutes will kill them.
						</li>
						<li>
							<span class="bold">Inexpensive.</span><br>
							When you add up the cost of doctor visits (and the time to see the doctor), 
							prescription medications and other factors involving “conventional” health care, 
							Silver Shield is a tremendous value.
						</li>
						<li>
							<span class="bold">Emergency Preparedness.</span><br>
							Because Silver Shield is inorganic with no chemicals or other additives, 
							it can be stored for years at a time. Several agencies and organizations 
							have recommended the use of silver as a potential agent in the fight against bioterrorism.
						</li>
						<li>
							<span class="bold">Extremely Safe.</span><br>
							Research, testing and long term use prove that Silver Shield is completely 
							safe for everyone, including children and elderly.
						</li>
					</ol>
				</div>
				<div class="howItWorks centerText">
					<h2>How the <span class="fontForum">Silver Solution</span> Works</h2>
					<p  class="leftText">
						Metallic silver gives off ultra-violet radiation in narrow wavelengths. 
						The narrow wavelength energy radiated from silver destroys the 
						membranes of pathogens and damages their DNA beyond repair. 
						The silver solution also interferes with the energy sources of bacteria, 
						viruses and other microbes. Ultimately, it kills bacteria and reduces viral replication.
					</p>
					<div class="clear"></div>
					<div class="centerText">
						<h4 class="columnTwo">WITH OUT SILVER</H4>
						<h4 class="columnTwo">WITH SILVER</H4>
					</div>
					<div class="clear"></div>
					<div class="worksImgCont">
						<img class="fluidImg" src="_images/silverandvirus1_136x104.jpg" alt="Virus infects cell without Silver">
						<div>
							<p>Virus Injects abnormal DNA into healthy Cell.</p>
						</div>
					</div>
					<div class="worksImgCont">
						<img class="fluidImg" src="_images/silverandvirus2_136x104.jpg" alt="Virus replicates in cell without Silver">
						<div>
							<p>
								Abnormal DNA replicates inside protective barrier of healthy cell, 
								then ruptures cell and begins process again.
							</p>
						</div>
					</div>
					<div class="worksImgCont">
						<img class="fluidImg" src="_images/silverandvirus3_136x104.jpg" alt="Silver inactivates virus, cell is not infected">
						<div>
							<p>Silver Sol magnetically binds and inactivates viral DNA.</p>
						</div>
					</div>
					<div class="worksImgCont">
						<img class="fluidImg" src="_images/silverandvirus4_136x104.jpg" alt="Silver continues to inactivate virus">
						<div>
							<p>
								The magnetically bound, abnormal DNA can no longer be 
								injected into healthy cells and the silver continues to bind 
								and inactivate any remaining viruses.
							</p>
						</div>
					</div>
				</div>
				<div class="silverQuotes">
					<div class="columnTwo">
						<h3>In The News</h3>
						<p>
							&#34;When antibiotics arrived 60 years ago, many experts thought it was the 
							beginning of the end for infectious diseases. Sadly, they were wrong.&#34;
						</p>
						<p class="rightText">&#45;Newsweek, December, 2006</p>
						<p>
							&#34;&#40;Silver&#41; has undergone rigorous testing and has been found 
							to kill anthrax, bubonic plague, hospital staph and SARS. This product is EPA
							approved…In short, we currently do not have anything with such a wide 
							spectrum of efficacy in our inventory.&#34;
						</p>
						<p class="rightText">
							&#45;General P.K. Carlton, M.D<br>
							Director of Integrative Center for Homeland Security
						</p>
						<p>
							&#34;The results suggest that this silver solution is a broad&#45;spectrum 
							antimicrobial agent. It is able to effectively	stop the growth of, and in fact, 
							kill a large variety of potentially pathogenic bacteria tested that &#40;this&#41;
							product has not killed.&#34;
						</p>
					</div>
					<div class="columnTwo">
						<h3>What  <span class="fontForum">Silver</span> Users Are Saying</h3>
						<p>&#34;Silver Sol is one of the most miraculous products that I&#39;ve ever used&#34;</p>
						<p>
							&#34;I came down with pinkeye and I started silver drops in my eyes. 
							Two days later the infection was gone&#33; It is such a fabulous product… 
							Silver Sol is what it says it is.&#34;
						</p>
						<p>
							&#34;We took Silver Sol and put it on the acne about three times, and I 
							tell you, in about two days, her face was clear.&#34;
						</p>
						<p>
							&#34;A friend of mine had MRSA and they would have cut his toe off in 
							the next week. After using silver for a 10 or 12-day period… he was 
							walking with his shoe. It totally saved his toe&#33;&#34;
						</p>
						<p>&#34;This is exciting technology. Silver Sol technology us just absolutely amazing&#33;&#34;</p>
					</div>
				</div>	
				<div class="silverHistory clear">
					<table>
						<tr>
							<td>2000 BC</td>
							<td rowspan=3><div class="col3"></div></td>
							<td>Silver mentioned in Egyptian writings</td>
						</tr>
						<tr>
							<td>500 BC</td>
							<td>Greeks, Romans use silver vessels for water purification</td>
						</tr>
						<tr>
							<td>500</td>
							<td>Silverware protects the wealthy from the full brunt of the plague</td>
						</tr>
						<tr>
							<td>1800</td>
							<td rowspan=8><span  class="col8"></span></td>
							<td>Doctors used silver sutures in surgical wounds</td>
						</tr>
						<tr>
							<td></td>
							<td>Pioneers and frontier settlers use silver coins in their drinking water and milk to prevent spoilage</td>
						</tr>
						<tr>
							<td>1900</td>
							<td>Silver products are being developed and marketed commercially</td>
						</tr>
						<tr>
							<td></td>
							<td>Silver is used to combat wound infections during WWI</td>
						</tr>
						<tr>
							<td></td>
							<td>Silver is widely used in hospitals</td>
						</tr>
						<tr>
							<td></td>
							<td>Several commercial airlines use silver water filters</td>
						</tr>
						<tr>
							<td></td>
							<td>NASA selected silver-based system for space shuttle</td>
						</tr>
						<tr>
							<td>2000</td>
							<td>New, superior silver solution technology developed and patented</td>
						</tr>
					</table>
				</div>
				<div class="waysToUseSilver">
					<table>
						<th colspan=3>18 WAYS TO USE SILVER</th>
						<th>NOTES</th>
						<tr>
							<td rowspan=4>INTERNAL USE</td>
							<td>Daily Disinfectant</td>
							<td>1 - 2 tsp 2 - 3 a day</td>
							<td>For special circumstances serving can be doubled</td>
						</tr>
						<tr>
							<td>Immune Support</td>
							<td>1-2 tsp 1 X Day as needed</td>
							<td>Take for 3-5 days or more if needed</td>
						</tr>
						<tr>
							<td>Digestive Support </td>
							<td>-2 tsp 1 X Day as neede</td>
							<td>Take for 3-5 days or more if needed</td>
						</tr>
						<tr>
							<td>Urinary Support</td>
							<td>1-2 tsp 1 X Day</td>
							<td>Take as long as needed</td>
						</tr>
						<tr><td colspan=4></td></tr>
						<tr>
							<td rowspan=5>ORIFICE USE</td>
							<td>Voice Spray</td>
							<td>1-2 Fine Mist/Gel 1-2tsp 1 X Day as needed</td>
							<td>Use Spray Bottle 1-4 sprays, up to 10 times daily</td>
						</tr>
						<tr>
							<td>Mouth Wash</td>
							<td>2-3 drops, 1-2 tsp 2-3 x Day</td>
							<td>Keep ear pointed upwards for 10 minutes to allow silver access into ear cavity (make sure ear canal is full)</td>
						</tr>
						<tr>
							<td>Eye Health</td>
							<td>2-3 drops, 1-2 tsp 2-3 x Day</td>
							<td>Keep liquid in eyes for up to six minutes for optimal exposure</td>
						</tr>
						<tr>
							<td>Nasal Spray</td>
							<td>1-2 Fine Mist/Gel, 1-2 tsp as needed</td>
							<td>Use atomizer sprayer 1-10x daily</td>
						</tr>
						<tr>
							<td>Throat Spray/Gargle</td>
							<td>1-2 tsp as needed</td>
							<td>Gargle for six minutes (swallow solution): use every two hours for strep, twice daily thereafter</td>
						</tr>
						<tr><td colspan=4></td></tr>
						<tr>
							<td rowspan=5>EXTERNAL USE</td>
							<td>Vaginal Wash</td>
							<td>1-2 Fine Mist/Gel, 1-2 tsp 1 x Day</td>
							<td>Use gel on external  vaginal area; use atomizer to administer liquid in vagina</td>
						</tr>
						<tr>
							<td>Skin, Foot Disinfectant</td>
							<td>2-3 Sprays, 1-2 Fine Mist/Gel, 1-2 tsp as needed</td>
							<td>Use up to six times daily; Can soak entire foot daily</td>
						</tr>
						<tr>
							<td>Hand Gel Wash</td>
							<td>1-2 Fine Mist/Gel, 1-2 tsp</td>
							<td>Use full strength; works up to 4 hours</td>
						</tr>
						<tr>
							<td>Diaper Rash</td>
							<td>2-3 Sprays, 1-2 Fine Mist/Gel, 1-2 tsp </td>
							<td></td>
						</tr>
						<tr>
							<td>Face Wash</td>
							<td>1-2 Fine Mist/Gel, 1-2 tsp, 2-3 x Day</td>
							<td>Can use daily</td>
						</tr>
						<tr><td colspan=4></td></tr>
						<tr>
							<td rowspan=3>HOUSEHOLD USE</td>
							<td>Disinfect counters/cutting board</td>
							<td>2-3 Sprays, 1-2 tsp, as needed</td>
							<td></td>
						</tr>
						<tr>
							<td>Disinfect bathroom basin, counter, shower/tub</td>
							<td>2-3 Sprays, 1-2 tsp</td>
							<td>Spray directly on surface, or thoroughly moisten cleaning cloth and wipe surfaces; allow 6-10 minutes or air dry </td>
						</tr>
						<tr>
							<td>Disinfect toothbrushes</td>
							<td>1-2 tsp, 1 x Day</td>
							<td>Allow item to stand in full-strength liquid for 6-10 minutes. No need to rinse</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>