<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tongue & Fingernail Analysis | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<header id="top">
			<h1>HERBS for THOUGHT</h1>
			<div class="natureslogo"><img class="fluidImg" src="../_images/ns-logo-landscape.jpg" alt="Nature's Sunshine Independent Distributor"></div>
			<nav id="mainnav">
				<ul class="noPadOrMargin">
					<li class="menuopen">&#40;&#43;&#41;</li>
					<li class="menuclose">&#40;&#45;&#41;</li>
					<li><a href="../index.html">Home</a></li>
					<li><a href="herbs-and-vitamins.html">Herbs and Vitamins</a></li>
					<li><a href="clean-your-internal-house.html">Cleansing</a></li>
					<li><a href="foot-spa-detox.html">Foot Spa Detox</a></li>
					<li><a href="tongue-and-fingernail-analysis">Tongue and Fingernail Analysis</a></li>
					<li><a href="ph-nine-five-water.html">PH 9.5 Water</a></li>
				</ul>
			</nav>
		</header>
		<div class="bodyWrapper">
			<div class="centerText marginBottom">
				<h1>PAGE UNDER CONSTRUCTION,</h1>
			</div>
		</div>
	</div>
	<footer>
		<div class="logo">HERBS for THOUGHT</div>
		<div class="footlinkwrapper">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="herbs-and-vitamins.html">Herbs and Vitamins</a></li>
				<li><a href="clean-your-internal-house.html">Cleansing</a></li>
				<li><a href="foot-spa-detox.html">Foot Spa Detox</a></li>
			</ul>
			<ul>
				<li><a href="tongue-and-fingernail-analysis.html">Tongue and Fingernail Analysis</a></li>
				<li><a href="fat-grabbers.html">Fat Grabbers</a></li>
				<li><a href="why-herbs.html">Why Herbs&#63;</a></li>
			</ul>
			<ul>
				<li><a href="silver-sheild.html">Silver Shield</a></li>
				<li><a href="membership.html">Save up to 33&#37;</a></li>
				<li><a href="herbal-hour.html">Herbal Hour</a></li>
				<li><a href="did-you-know.html">Did You Know&#63;</a></li>
			</ul>
			<ul>
				<li><a href="child-health.html">Childrens&#39;s Health</a></li>
				<li><a href="sickness-and-prevention.html">Sickness &#38; Prevention</a></li>
				<li><a href="consultation.html">Consultation</a></li>
				<li><a href="ph-nine-five-water.html">PH 9.5 Water</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>