<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Fat Grabbers | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<script type="text/javascript" src="templates/header.js"></script>
		<div class="bodyWrapper">
			<div class="weightlossTemplate">
				<h1>Weight  loss</h1>
				<p>
					Is a concern for most of us and with the proper nutrition and exercise it can easily be a success story.
				</p>
				<p>
					Here are some weight loss products to feed your body what it needs to unlock fat stores, 
					reset your biological terrain to get off that plateau and start reaching your ultimate goal, <b>feel good, look good.</b> 
				</p>
				<p>
					<a href="templates/clean-your-internal-house.html" class="underline">Cleansing</a>,
					<a href="templates/foot-spa-detox.html" class="underline">Foot Spa Detoxing</a>, 
					<a href="templates/kangen-water.html" class="underline">PH balanced 9.5 water</a> 
					and more are aids to weight loss. 
					Check out our links to these to see more information.
				</p>
				<h2 class="centerText marginTop marginBottom">
					First up, Fat Grabbers, put the squeeze on dietary fat.
				</h2>
				<div class="columnTwo">
					<img class="fluidImg weightlossImg" src="_images/fatgrabbers_300x300.jpg" alt="Fat Grabbers">
				</div>
				<div class="centerText marginBottom columnTwo">
					Patented FAT GRABBERS helps reduce the amount of dietary fat your body absorbs. It contains:
				</div>
				<ul class="clear">
					<li><span class="bold">Chickweed</span> – Breaks down fat in the stomach and intestines.</li>
					<li><span class="bold">Lecithin</span> – emulsifies fat in water, breaking it into tiny globules. </li>
					<li>
						<span class="bold">Psyllium hulls and guar gum</span> – interfere with the absorption of emulsified 
						fat from the small intestine, grabbing a portion of fat and allowing it to be 
						eliminated from the body before complete digestion occurs.
					</li>
				</ul>
				<div class="centerText marginTop">
					<h2>Here is the game plan&#58;</h2>
					<h3>Choose one from each list</h3>
				</div>
				<div class="weightWrapper">
					<h2>STEP 1&#58; Choose a cleanse</h2>
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/tiao.jpg" alt="Tiao He Cleanse">
						</div>
						<div class="columnTwo">
							<h3>Tiao He Cleanse</h3>
							<p>Absorbs toxins, supports the liver and gall bladder</p>
						</div>
					</div>
					
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/clean.jpg" alt="Clean Cleanse">
						</div>
						<div class="columnTwo">
							<h3>Clean Start</h3>
							<p>Promotes elimination of waste, soothes bowel</p>
						</div>	
					</div>
					
					<h2>STEP 2&#58; Choose a meal replacement</h2>
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/loveandpeas_300x300.jpg" alt="Love and Peas meal replacement">
						</div>
						<div class="columnTwo">
							<h3>Love &#38; Peas</h3>
							<span>Provides essential nutrition 20g of protein per serving, supports urinary and circulatory, powerful antioxidant</span>
						</div>
					</div>
					
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/naturesharvest_300x300.jpg" alt="Nature's Harvest meal replacement">
						</div>
						<div class="columnTwo">
							<h3>Nature&#39;s Harvest</h3>
							<span>Meal replacement, green foods, antioxidants, essential fatty acids, nutritive herbs, fiber and more, allergen free</span>
						</div>
					</div>
					
					<h2>STEP 3&#58; Address weight management</h2>
					
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/stixated_300x300.jpg" alt="Stixated weight management">
						</div>
						<div class="columnTwo">
							<h3>Stixated</h3>
							<span>Satisfies cravings between meals promotes feeling of fullness</span>
						</div>
					</div>
					
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/ultratherm_300x300.jpg" alt="Ultratherm weight management">
						</div>
						<div class="columnTwo">
							<h3>Ultra Therm</h3>
							<span>Increase calorie burn all day, helps break down body fat</span>
						</div>
					</div>
					
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/garcinia_300x300.jpg" alt="Garcinia weight management">
						</div>
						<div class="columnTwo">
							<h3>Garcinia</h3>
							<span>Suppresses appetite, maintains blood sugar levels</span>
						</div>
					</div>
					
					<div class="weightStep">
						<div class="columnTwo centerText">
							<img class="fluidImg" src="_images/garcinia_300x300.jpg" alt="Garcinia weight management">
						</div>
						<div class="columnTwo">
							<h3>SweetFx</h3>
							<span>Helps block the absorption of sugar</span>
						</div>
					</div>
					
					<h2>STEP 4&#58; Eat essential foods</h2>
					<p>Here are some great tips to get started&#58;</p>
					<ul>
						<li>Choose an alkaline diet, avoid acidic foods such as soda.</li>
						<li>
							Raw foods such as dark leafy greens and vegetables and when cooked, 
							lightly steamed or blanched, this helps to keep our enzymes that digest 
							food and reduces gas and bloating.
						</li>
						<li>Fruits and berries.</li>
						<li>Nuts and nut butters.</li>
						<li>Sprouted whole grains.</li>
						<li>Real butter.</li>
						<li>Good fats such as, olive oil, coconut oil, avocados, and more.</li>
						<li> ½ your body weight in ounces of water a day.</li>
						<li>
							Blending fruits and vegetables can be an excellent source of nutrients, 
							antioxidants, fiber, energy, essential fatty acids by adding flax seeds, 
							coconut oil, and more getting in a substantial amount in one cup for the 
							day. Add a little fresh ginger, turmeric, parsley, chia seeds or hemp 
							seeds for extra added benefit and energy.
						</li>
						<li> 
							Buy organic to avoid the pesticides, herbicides, fungicides, and more 
							that the body stores in fat in order to buffer the organs from toxicity, 
							the goal is to burn fat not store more in it.
						</li>
					</ul>
					
					<h2>STEP 5&#58; Exercise</h2>
					<p>
						Yup, there is no magic pill, exercise is essential to looking good and feeling 
						great&#59; however, look at the bright side, there are many great benefits 
						in addition to loosing pounds that exercise can bestow upon us. Exercise 
						and breathing deep keeps our lymphatic system moving keeping waste out 
						and nutrients in, keeps our skin glowing and releases those good endorphins 
						to keep emotional well being in check, drops pounds, tones and tightens and 
						keeps us limber. Find a program that you are comfortable with that works for you.
					</p>
					<p>GO Team look good and feel great, for life!</p>
					<p>Lets do this!</p>
					<p>
						Any questions, I am here to help, please send an email to 
						<a href="mailto:shelley@herbsforthought.com" target="_blank">Shelley@HerbsforThought.com</a></p>
					<p>Here’s to your health!</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="templates/footer.js"></script>
</body>
</html>