<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Why Herbs | Herbs for Thought</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" >
	<base href='../' />
	
	<script type="text/javascript">
		if(document.location.protocol == 'file:')	{
			baseURL  = "../";
		} else	{
			baseURL = document.location.protocol+"//herbsforthought.com/";
		}
		document.getElementsByTagName('base')[0].href = baseURL;
	</script>
	<script type="text/javascript" src="templates/htmlHead.js"></script>
</head>

<body>
	<div id="wrapper">
		<header id="top">
			<h1>HERBS for THOUGHT</h1>
			<div class="natureslogo"><img class="fluidImg" src="../_images/ns-logo-landscape.jpg" alt="Nature's Sunshine Independent Distributor"></div>
			<nav id="mainnav">
				<ul class="noPadOrMargin">
					<li class="menuopen">&#40;&#43;&#41;</li>
					<li class="menuclose">&#40;&#45;&#41;</li>
					<li><a href="../index.html">Home</a></li>
					<li><a href="herbs-and-vitamins.html">Herbs and Vitamins</a></li>
					<li><a href="clean-your-internal-house.html">Cleansing</a></li>
					<li><a href="foot-spa-detox.html">Foot Spa Detox</a></li>
					<li><a href="tongue-and-fingernail-analysis.html">Tongue &#38; Fingernail Analysis</a></li>
					<li><a href="ph-nine-five-water.html">PH 9.5 Water</a></li>
				</ul>
			</nav>
		</header>
		<div class="bodyWrapper whyHerbs">
			<h1 class="centerText">Common Questions about Herbs and Natural Health</h1>
			<h3>WHAT ARE HERBS&#63;</h3>
			<p>
				Herbs are excellent plant sources of food loaded with nutrients &#40;vitamins, minerals, Enzymes, and more&#41;, 
				which our body can use to achieve and maintain good health. Herbs also nourish, regulate, cleanse, and 
				help the body heal it self.  Herbs are Powerful natural foods.
			</p>
			<h3>DO HERBS CURE&#63;</h3>
			<p>
				No. They nourish.  If the body has the ability to heal, it will use the raw materials 
				found in foods to do its own healing work.  Herbs do not heal they feed.  Herbs work 
				for the body to maintain and repair itself.  They are simply supporting these natural functions.
			</p>
			<h3>ARE THERE CERTAIN HERBS FOR CERTAIN DISEASES&#63;</h3>
			<p>
				Herbs do not address disease.  Herbs have been chosen &#45; over thousands of years of history &#45; 
				to feed different parts of the body.  For instance, you might eat carrots for good eyesight and 
				broccoli for immune supporting antioxidants.  Are carrots and broccoli cures for glaucoma and 
				cancer&#63; No&#33; But, wouldn’t you consume these nourishing herbal foods &#44;at time of these afflictions&#63;&#44;  
				History’s answer is yes&#33; Thus we get &#44;Historical uses.&#44;
			</p>
			<h3>WHY DO SOME HERBS WORK AND OTHERS DO NOT&#63;</h3>
			<p>
				Herbs always work&#59; they work because they are only feeding the body.  Have you ever heard of carrots not working&#63;  
				It’s not that the herb didn&#39;t work…It’s that your body didn’t need those materials to do the healing work you expected. 
				Also, some people have poor digestive systems and may not be absorbing the nutrients completely.
			</p>
			<h3>IS NATURAL HEALTH A REPLACEMENT FOR DOCTORS AND HOSPITALS&#63;</h3>
			<p>
				No, natural health is a way of living.  It’s learning to form a lifestyle that supports and foster health 
				&#40;i.e., fresh air, pure water, wholesome foods, exercise, good outlook, stress management, etc.&#41;  The joy 
				of it is the foundation of natural health, not fear of death&#59; seek the health professional that will help you further your objective.
			</p>
			<h3>ARE DIETARY SUPPLEMENTS AN IMPORTANT PART OF NATURAL HEALTH&#63;</h3>
			<p>
				Absolutely&#33;  The foods we have today are S.A.D. &#40;Standard American Diet&#41; Modern farming practices and food processing 
				has rendered our food supply deficient and unbalanced.  Our bodies take in too much of some things, not enough of others, 
				and some things that should never be consumed.  Wholesome food is here to find.  Dietary supplementation may help satisfy 
				nutritional deficiencies, support natural body processes that cleanse undesirable substance from the body, and promote the 
				endurance and longevity desired.  &#34;May you never know the disease you prevented with natural health.&#34;
			</p>
		</div>
	</div>
	<footer>
		<div class="logo">HERBS for THOUGHT</div>
		<div class="footlinkwrapper">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="herbs-and-vitamins.html">Herbs and Vitamins</a></li>
				<li><a href="clean-your-internal-house.html">Cleansing</a></li>
				<li><a href="foot-spa-detox.html">Foot Spa Detox</a></li>
			</ul>
			<ul>
				<li><a href="tongue-and-fingernail-analysis.html">Tongue and Fingernail Analysis</a></li>
				<li><a href="fat-grabbers.html">Fat Grabbers</a></li>
				<li><a href="why-herbs.html">Why Herbs&#63;</a></li>
			</ul>
			<ul>
				<li><a href="silver-shield.html">Silver Shield</a></li>
				<li><a href="membership.html">Save up to 33&#37;</a></li>
				<li><a href="herbal-hour.html">Herbal Hour</a></li>
				<li><a href="did-you-know.html">Did You Know&#63;</a></li>
			</ul>
			<ul>
				<li><a href="child-health.html">Childrens&#39;s Health</a></li>
				<li><a href="sickness-and-prevention.html">Sickness &#38; Prevention</a></li>
				<li><a href="consultation.html">Consultation</a></li>
				<li><a href="ph-nine-five-water.html">PH 9.5 Water</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>